<div id="tableBlock"></div>
<div id="editBlock">
    <p><b>Редагування книги</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Назва: </label></td><td><input type="text" id="editName" /></td></tr>
        <tr><td><label>Автор: </label></td><td><input type="text" id="editAuthor" /></td></tr>
        <tr><td><label>Користується: </label></td><td><input type="text" id="editEmail" /></td></tr>
        <tr><td><label>Кількість сторінок: </label></td><td><input type="number" id="editPageCount" /></td></tr>
    </table>
    <button id="editBook">Зберегти</button>
</div>
<div id="createBlock">
    <p><b>Додавання книги</b></p>
    <table>
        <tr><td><label>Назва: </label></td><td><input type="text" id="addName" /></td></tr>
        <tr><td><label>Автор: </label></td><td><input type="text" id="addAuthor" /></td></tr>
        <tr><td><label>Кількість сторінок: </label></td><td><input type="number" id="addPageCount" /></td></tr>
    </table>
    <button id="addBook">Зберегти</button>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            GetAllBooks();

            $("#editBook").click(function (event) {
                event.preventDefault();
                EditBook();
            });

            $("#addBook").click(function (event) {
                event.preventDefault();
                AddBook();
            });

        });
        function GetAllBooks() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/Books/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function AddBook() {

            var book = {
                Name: $('#addName').val(),
                Author: $('#addAuthor').val(),
                PageCount: $('#addPageCount').val()
            };

            $.ajax({
                url: '/api/Books/',
                type: 'POST',
                data: JSON.stringify(book),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function DeleteBook(id) {

            $.ajax({
                url: '/api/Books/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function EditBook() {
            var id = $('#editId').val()

            var book = {
                Id: $('#editId').val(),
                Name: $('#editName').val(),
                Author: $('#editAuthor').val(),
                Email: $('#editEmail').val(),
                PageCount: $('#editPageCount').val()
            };
            $.ajax({
                url: '/api/Books/' + id,
                type: 'PUT',
                data: JSON.stringify(book),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function WriteResponse(books) {
            var strResult = "<table><th>Назва</th><th>Автор</th><th>Кількість сторінок</th><th>В користувача</th>";
            $.each(books, function (index, book) {
                strResult += "<tr><td> " + book.Name + "</td><td>" + book.Author + "</td><td>" + book.PageCount + "</td><td>" + book.Email +
                    "</td><td><a id='editItem' data-item='" + book.Id + "' onclick='EditItem(this);' ><button>Редагувати</button></a></td>" +
                    "<td><a id='delItem' data-item='" + book.Id + "' onclick='DeleteItem(this);' ><button>Видалити</button></a></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }

        function DeleteItem(el) {

            var id = $(el).attr('data-item');
            DeleteBook(id);
        }

        function EditItem(el) {

            var id = $(el).attr('data-item');
            GetBook(id);
        }

        function ShowBook(book) {
            if (book != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(book.Id);
                $("#editName").val(book.Name);
                $("#editAuthor").val(book.Author);
                $("#editEmail").val(book.Email);
                $("#editPageCount").val(book.PageCount);
            }
            else {
                alert("Така книга не існує");
            }
        }

        function GetBook(id) {
            $.ajax({
                url: '/api/Books/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowBook(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}
